/bin/
/Libs/
/.settings/
/settings/internal
/.classpath
.svn/
*.html
*.csv
*.log
*.uuid
JUnit_Report.xml
*.png
*.log.lck
execution.properties
*.meta
*.project
com.kms.katalon.composer.testcase.properties